<div id="about_us" class="jumbotron">
    <div class="welcome-header">
        <span class="welcome-alert">5</span> причин оформить заказ у нас
    </div>
    <div class="welcome-content welcome-content-red">
        <ul>
            <li>
                Широкий ассортимент товаров для реставрации и ремонта ванн!
            </li>
            <li>
                Индивидуальный подход к каждому клиенту!
            </li>
            <li>
                Выгодные цены и сжатые сроки доставки!
            </li>
            <li>
                Постоянные акции и скидки!
            </li>
            <li>
                Надежная репутация!
            </li>
        </ul>
    </div>
</div>
