<div id="contacts">
    <h1>Контакты</h1>
    <div class="welcome-content">
        <ul>
            <li>
                <strong>Бесплатный телефон</strong> по России: <strong>8-800-550-10-85</strong>
            </li>
            <li>
                <strong>Почта</strong>: <a href="mailto:kraska-rf@mail.ru"><b>kraska-rf@mail.ru.</b></a>
            </li>
            <li>
                <strong>Менеджер по продаже:</strong> Анастасия 8-982-753-56-55 (МТС)
            </li>
            <li>
                <strong>Мастер по ремонту ванн:</strong> Степан 8-963-441-92-97 (МТС)
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3><strong>г. Екатеринбург</strong></h3>
            <div><i>ул. Самоцветный бульвар 5</i></div>
            <div>Михаил <strong>8-912-212-71-69</strong></div>
            <img alt="" src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=wfDorDP6Q4WBlp3b5-jsd2aavZ-CArGn&amp;width=600&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor" style="height: 338px; width: 450px;"/>
        </div>
        <div class="col-md-6">
            <h3><strong>г. Челябинск</strong></h3>
            <div><i>ул. Салавата Юлаева 17</i></div>
            <div>Денис <strong>8-950-741-88-45</strong></div>
            <img alt="" src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=QgaxaBiyabjejCY8IVOgSjBSN0pRB7gp&amp;width=600&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor" style="width: 450px; height: 338px;" />
        </div>
    </div>
</div>