<div id="delivery">
    <h1>Доставка</h1>

    <div class="welcome-content welcome-content-red">
        <ul>
            <li>Почтой России</li>
            <li>Транспортными компаниями (КИТ, Деловые линии)</li>
            <li>Комбинированный вариант</li>
            <li>Ваш вариант</li>
        </ul>
    </div>
</div>
