<div id="payment">
    <h1>Оплата</h1>

    <div class="welcome-content">
        <ul>
            <li>
                <div>Оплата на карту Сбербанка</div>
                <div class="xsmall">Карта Сбербанка: 4276 8800 5761 5076<br/>Получатель: Южанин С.А.</div>
            </li>
            <li>
                <div>Банковский перевод</div>
                <div class="xsmall">
                    <div class="row">
                        <div class="col-md-6">
                            ИП Южанина Ирина Васильевна<br/>
                            (имя отчество укажите ОБЯЗАТЕЛЬНО полностью)<br/>
                            623281 Россия Свердловская обл.<br/>
                            г.Ревда, ул. П.Зыкина, дом 11, кв. 27<br/><br/>
                        </div>
                        <div class="col-md-6">
                            ИНН 662706568820<br />
                            ОГРНИП 315668400002866<br />
                            Р/счет 40802810800000006844<br />
                            К/счет 30101810500000000768<br />
                            БИК 046577768<br />
                            ООО КБ «Кольцо Урала», г.Екатеринбург
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>Оплата на QIWI-кошелек</div>
                <div class="xsmall">Счет QIWI: +7-963-441-92-97</div>
            </li>
            <li>
                <div>Оплата на Яндекс Деньги</div>
                <div class="xsmall">Номер счета: 410012096372314</div>
            </li>
        </ul>
    </div>
</div>
